.main{
  min-height: 100vh;
  background-color: #e5e5e5;
  display: grid;
  justify-items: center;
  align-items: center;
}

.upload-container{
  border-radius: 1vh;
  background-color: white;
  width: 80vw;
  height: 50vh; 
  padding: 1vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.img-container{
  border-radius: 1vh;
  background-color: white;
  width: 80vw;
  height: 20vh; 
  padding: 1vh;
  margin-bottom: 1vh;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.row-id{
  display: grid;
  align-items: center;
  justify-content: center;
  width: 2vw;
}

.img-preview{
  width: auto;
}

.img-info{
  width: 50vw;
  font-size: 1.7vh;
}

.img-title{
  font-size: 3vh;
  margin-bottom: 1vh;
}

.box-title{
  justify-self: center;
  align-self: center;
  font-size: 3vh;
}
